{
  "presets": [
    "env",
    "react",
    "stage-0",
    "babel-preset-env",
    "babel-preset-react",
    "babel-preset-es2015",
    "babel-preset-stage-0"

  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx",
    "babel-plugin-transform-react-jsx",
    "babel-plugin-transform-object-rest-spread"
  ]
}